.cardHeader {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.cardBody {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.cardHeader,
.cardBody {
	padding: 10px;
}

.heading,
.heading::placeholder {
	font-size: 16pt;
	font-weight: 900;
}

.language_id,
.language_id::placeholder,
.language_id>option {
	font-size: 10pt;
	font-weight: 300;
}

.phonetic,
.phonetic::placeholder {
	font-size: 11pt;
	font-weight: 400;
}

.cardBody>* {
	font-size: 12pt;
}

.cardBody>label {
	text-decoration: underline;
}

.cardBody>input[type="text"],
.cardBody>textarea,
.cardBody>input[type="text"]::placeholder,
.cardBody>textarea::placeholder {
	font-size: 12pt;
	font-weight: 500;
}

.card>div>*:not(.errorLike) {
	background-color: inherit;
	border: none;
	display: block;
	padding: 5px;
	width: 100%;
}

.card input[type="text"],
.card textarea {
	text-overflow: ellipsis;
}

.card input[type="text"]:focus,
.card textarea:focus,
.card select:focus {
	outline: none;
}

/*
 Media queries.
 Nothing for the moment.
 Add rules for displaying the page on mobile devices.
 Maybe use a grid layout?
 Or a flex layout?
 // TODO
*/
@media (max-width: 640px) {

}
