<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="" tests="47" assertions="38" errors="12" warnings="0" failures="0" skipped="0" time="45.165262">
    <testsuite name="Unit" tests="47" assertions="38" errors="12" warnings="0" failures="0" skipped="0" time="45.165262">
      <testsuite name="Tests\Unit\CardTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php" tests="11" assertions="1" errors="10" warnings="0" failures="0" skipped="0" time="34.086235">
        <testcase name="editCardOKTest" class="Tests\Unit\CardTest" classname="Tests.Unit.CardTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php" line="27" assertions="0" time="31.581133">
          <error type="Illuminate\Database\QueryException">Tests\Unit\CardTest::editCardOKTest
Illuminate\Database\QueryException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'test@test.com' for key 'users_email_unique' (SQL: insert into `users` (`name`, `email`, `email_verified_at`, `password`, `remember_token`, `updated_at`, `created_at`) values (Test, test@test.com, ?, test, ?, 2019-11-28 16:48:33, 2019-11-28 16:48:33))

C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:665
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:625
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:460
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:412
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Processors\Processor.php:32
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php:2670
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Builder.php:1350
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:839
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:804
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:667
C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php:35
</error>
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="editCardWithoutHeadingNotOKTest" class="Tests\Unit\CardTest" classname="Tests.Unit.CardTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php" line="81" assertions="0" time="0.251290">
          <error type="Illuminate\Database\QueryException">Tests\Unit\CardTest::editCardWithoutHeadingNotOKTest
Illuminate\Database\QueryException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'test@test.com' for key 'users_email_unique' (SQL: insert into `users` (`name`, `email`, `email_verified_at`, `password`, `remember_token`, `updated_at`, `created_at`) values (Test, test@test.com, ?, test, ?, 2019-11-28 16:48:33, 2019-11-28 16:48:33))

C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:665
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:625
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:460
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:412
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Processors\Processor.php:32
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php:2670
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Builder.php:1350
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:839
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:804
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:667
C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php:88
</error>
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="editCardWithoutLanguageNotOKTest" class="Tests\Unit\CardTest" classname="Tests.Unit.CardTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php" line="124" assertions="0" time="0.217334">
          <error type="Illuminate\Database\QueryException">Tests\Unit\CardTest::editCardWithoutLanguageNotOKTest
Illuminate\Database\QueryException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'test@test.com' for key 'users_email_unique' (SQL: insert into `users` (`name`, `email`, `email_verified_at`, `password`, `remember_token`, `updated_at`, `created_at`) values (Test, test@test.com, ?, test, ?, 2019-11-28 16:48:34, 2019-11-28 16:48:34))

C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:665
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:625
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:460
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:412
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Processors\Processor.php:32
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php:2670
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Builder.php:1350
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:839
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:804
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:667
C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php:131
</error>
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="editCardWithoutOwnerNotOKTest" class="Tests\Unit\CardTest" classname="Tests.Unit.CardTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php" line="167" assertions="0" time="0.206588">
          <error type="Illuminate\Database\QueryException">Tests\Unit\CardTest::editCardWithoutOwnerNotOKTest
Illuminate\Database\QueryException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'test@test.com' for key 'users_email_unique' (SQL: insert into `users` (`name`, `email`, `email_verified_at`, `password`, `remember_token`, `updated_at`, `created_at`) values (Test, test@test.com, ?, test, ?, 2019-11-28 16:48:34, 2019-11-28 16:48:34))

C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:665
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:625
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:460
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:412
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Processors\Processor.php:32
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php:2670
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Builder.php:1350
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:839
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:804
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:667
C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php:174
</error>
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="editCardWithAllValuesSetOKTest" class="Tests\Unit\CardTest" classname="Tests.Unit.CardTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php" line="211" assertions="0" time="0.209126">
          <error type="Illuminate\Database\QueryException">Tests\Unit\CardTest::editCardWithAllValuesSetOKTest
Illuminate\Database\QueryException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'test@test.com' for key 'users_email_unique' (SQL: insert into `users` (`name`, `email`, `email_verified_at`, `password`, `remember_token`, `updated_at`, `created_at`) values (Test, test@test.com, ?, test, ?, 2019-11-28 16:48:34, 2019-11-28 16:48:34))

C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:665
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:625
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:460
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:412
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Processors\Processor.php:32
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php:2670
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Builder.php:1350
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:839
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:804
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:667
C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php:219
</error>
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="createCardWithAllValuesSetOKTest" class="Tests\Unit\CardTest" classname="Tests.Unit.CardTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php" line="286" assertions="0" time="0.240192">
          <error type="Illuminate\Database\QueryException">Tests\Unit\CardTest::createCardWithAllValuesSetOKTest
Illuminate\Database\QueryException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'test@test.com' for key 'users_email_unique' (SQL: insert into `users` (`name`, `email`, `email_verified_at`, `password`, `remember_token`, `updated_at`, `created_at`) values (Test, test@test.com, ?, test, ?, 2019-11-28 16:48:34, 2019-11-28 16:48:34))

C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:665
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:625
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:460
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:412
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Processors\Processor.php:32
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php:2670
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Builder.php:1350
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:839
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:804
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:667
C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php:294
</error>
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="createCardWithoutHeadingNotOKTest" class="Tests\Unit\CardTest" classname="Tests.Unit.CardTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php" line="346" assertions="0" time="0.234291">
          <error type="Illuminate\Database\QueryException">Tests\Unit\CardTest::createCardWithoutHeadingNotOKTest
Illuminate\Database\QueryException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'test@test.com' for key 'users_email_unique' (SQL: insert into `users` (`name`, `email`, `email_verified_at`, `password`, `remember_token`, `updated_at`, `created_at`) values (Test, test@test.com, ?, test, ?, 2019-11-28 16:48:35, 2019-11-28 16:48:35))

C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:665
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:625
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:460
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:412
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Processors\Processor.php:32
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php:2670
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Builder.php:1350
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:839
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:804
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:667
C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php:353
</error>
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="createCardWithoutLanguageNotOKTest" class="Tests\Unit\CardTest" classname="Tests.Unit.CardTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php" line="375" assertions="0" time="0.273361">
          <error type="Illuminate\Database\QueryException">Tests\Unit\CardTest::createCardWithoutLanguageNotOKTest
Illuminate\Database\QueryException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'test@test.com' for key 'users_email_unique' (SQL: insert into `users` (`name`, `email`, `email_verified_at`, `password`, `remember_token`, `updated_at`, `created_at`) values (Test, test@test.com, ?, test, ?, 2019-11-28 16:48:35, 2019-11-28 16:48:35))

C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:665
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:625
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:460
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:412
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Processors\Processor.php:32
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php:2670
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Builder.php:1350
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:839
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:804
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:667
C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php:382
</error>
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="createCardWithoutOwnerNotOKTest" class="Tests\Unit\CardTest" classname="Tests.Unit.CardTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php" line="403" assertions="1" time="0.170583">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="deleteOKCardTest" class="Tests\Unit\CardTest" classname="Tests.Unit.CardTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php" line="428" assertions="0" time="0.445724">
          <error type="Illuminate\Database\QueryException">Tests\Unit\CardTest::deleteOKCardTest
Illuminate\Database\QueryException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'test@test.com' for key 'users_email_unique' (SQL: insert into `users` (`name`, `email`, `email_verified_at`, `password`, `remember_token`, `updated_at`, `created_at`) values (Test, test@test.com, ?, test, ?, 2019-11-28 16:48:35, 2019-11-28 16:48:35))

C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:665
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:625
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:460
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:412
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Processors\Processor.php:32
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php:2670
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Builder.php:1350
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:839
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:804
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:667
C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php:435
</error>
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="deleteNotExistingCardNotOkTest" class="Tests\Unit\CardTest" classname="Tests.Unit.CardTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php" line="469" assertions="0" time="0.256612">
          <error type="Illuminate\Database\QueryException">Tests\Unit\CardTest::deleteNotExistingCardNotOkTest
Illuminate\Database\QueryException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'test@test.com' for key 'users_email_unique' (SQL: insert into `users` (`name`, `email`, `email_verified_at`, `password`, `remember_token`, `updated_at`, `created_at`) values (Test, test@test.com, ?, test, ?, 2019-11-28 16:48:36, 2019-11-28 16:48:36))

C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:665
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:625
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:460
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:412
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Processors\Processor.php:32
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php:2670
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Builder.php:1350
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:839
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:804
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:667
C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\CardTest.php:476
</error>
          <system-out>&#13;
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="Tests\Unit\ContextTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\ContextTest.php" tests="4" assertions="4" errors="0" warnings="0" failures="0" skipped="0" time="1.099276">
        <testcase name="testValidInsertion" class="Tests\Unit\ContextTest" classname="Tests.Unit.ContextTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\ContextTest.php" line="18" assertions="1" time="0.354609">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testInsertNullDescription" class="Tests\Unit\ContextTest" classname="Tests.Unit.ContextTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\ContextTest.php" line="36" assertions="1" time="0.189487">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testIfDeleted" class="Tests\Unit\ContextTest" classname="Tests.Unit.ContextTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\ContextTest.php" line="45" assertions="1" time="0.236552">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testToString" class="Tests\Unit\ContextTest" classname="Tests.Unit.ContextTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\ContextTest.php" line="60" assertions="1" time="0.318628">
          <system-out>&#13;
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="Tests\Unit\DefinitionTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\DefinitionTest.php" tests="4" assertions="4" errors="0" warnings="0" failures="0" skipped="0" time="1.738577">
        <testcase name="testDefinitionWithContent" class="Tests\Unit\DefinitionTest" classname="Tests.Unit.DefinitionTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\DefinitionTest.php" line="15" assertions="1" time="0.407204">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testDefinitionWithId" class="Tests\Unit\DefinitionTest" classname="Tests.Unit.DefinitionTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\DefinitionTest.php" line="30" assertions="1" time="0.352884">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testDefinitionMissing" class="Tests\Unit\DefinitionTest" classname="Tests.Unit.DefinitionTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\DefinitionTest.php" line="45" assertions="1" time="0.348340">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testDefinitionToString" class="Tests\Unit\DefinitionTest" classname="Tests.Unit.DefinitionTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\DefinitionTest.php" line="59" assertions="1" time="0.630149">
          <system-out>&#13;
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="Tests\Unit\EnumDomainTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\EnumDomainTest.php" tests="3" assertions="3" errors="0" warnings="0" failures="0" skipped="0" time="0.457262">
        <testcase name="testGetKEYOne" class="Tests\Unit\EnumDomainTest" classname="Tests.Unit.EnumDomainTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\EnumDomainTest.php" line="24" assertions="1" time="0.156980">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testGetKeyTwo" class="Tests\Unit\EnumDomainTest" classname="Tests.Unit.EnumDomainTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\EnumDomainTest.php" line="32" assertions="1" time="0.151183">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testGetDescription" class="Tests\Unit\EnumDomainTest" classname="Tests.Unit.EnumDomainTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\EnumDomainTest.php" line="37" assertions="1" time="0.149099">
          <system-out>&#13;
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="Tests\Unit\EnumLanguageTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\EnumLanguageTest.php" tests="4" assertions="4" errors="0" warnings="0" failures="0" skipped="0" time="0.609164">
        <testcase name="TestSizeLanguage" class="Tests\Unit\EnumLanguageTest" classname="Tests.Unit.EnumLanguageTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\EnumLanguageTest.php" line="17" assertions="1" time="0.149544">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="TestFindLanguage" class="Tests\Unit\EnumLanguageTest" classname="Tests.Unit.EnumLanguageTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\EnumLanguageTest.php" line="28" assertions="1" time="0.148606">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="TestNumberLanguage" class="Tests\Unit\EnumLanguageTest" classname="Tests.Unit.EnumLanguageTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\EnumLanguageTest.php" line="38" assertions="1" time="0.157673">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="LanguageDescriptionTest" class="Tests\Unit\EnumLanguageTest" classname="Tests.Unit.EnumLanguageTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\EnumLanguageTest.php" line="48" assertions="1" time="0.153341">
          <system-out>&#13;
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="Tests\Unit\EnumSubdomainTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\EnumSubdomainTest.php" tests="3" assertions="3" errors="0" warnings="0" failures="0" skipped="0" time="0.470152">
        <testcase name="testGetKEYOne" class="Tests\Unit\EnumSubdomainTest" classname="Tests.Unit.EnumSubdomainTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\EnumSubdomainTest.php" line="24" assertions="1" time="0.156307">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testGetKeyTwo" class="Tests\Unit\EnumSubdomainTest" classname="Tests.Unit.EnumSubdomainTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\EnumSubdomainTest.php" line="32" assertions="1" time="0.153270">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testGetDescription" class="Tests\Unit\EnumSubdomainTest" classname="Tests.Unit.EnumSubdomainTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\EnumSubdomainTest.php" line="37" assertions="1" time="0.160575">
          <system-out>&#13;
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="Tests\Unit\LinkTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\LinkTest.php" tests="2" assertions="2" errors="0" warnings="0" failures="0" skipped="0" time="0.844967">
        <testcase name="testGetA" class="Tests\Unit\LinkTest" classname="Tests.Unit.LinkTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\LinkTest.php" line="24" assertions="1" time="0.528086">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testGetB" class="Tests\Unit\LinkTest" classname="Tests.Unit.LinkTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\LinkTest.php" line="36" assertions="1" time="0.316881">
          <system-out>&#13;
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="Tests\Unit\NoteTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\NoteTest.php" tests="4" assertions="4" errors="0" warnings="0" failures="0" skipped="0" time="1.783184">
        <testcase name="testRegisterNullDescription" class="Tests\Unit\NoteTest" classname="Tests.Unit.NoteTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\NoteTest.php" line="13" assertions="1" time="0.498096">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testRegisterWithDescription" class="Tests\Unit\NoteTest" classname="Tests.Unit.NoteTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\NoteTest.php" line="26" assertions="1" time="0.402133">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testIfDeleted" class="Tests\Unit\NoteTest" classname="Tests.Unit.NoteTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\NoteTest.php" line="40" assertions="1" time="0.454122">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testToString" class="Tests\Unit\NoteTest" classname="Tests.Unit.NoteTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\NoteTest.php" line="52" assertions="1" time="0.428833">
          <system-out>&#13;
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="Tests\Unit\PhoneticTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\PhoneticTest.php" tests="3" assertions="4" errors="0" warnings="0" failures="0" skipped="0" time="1.017328">
        <testcase name="testInsertDb" class="Tests\Unit\PhoneticTest" classname="Tests.Unit.PhoneticTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\PhoneticTest.php" line="16" assertions="1" time="0.382214">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testInsertDbSpecialChar" class="Tests\Unit\PhoneticTest" classname="Tests.Unit.PhoneticTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\PhoneticTest.php" line="32" assertions="1" time="0.343148">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testDeleteDb" class="Tests\Unit\PhoneticTest" classname="Tests.Unit.PhoneticTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\PhoneticTest.php" line="43" assertions="2" time="0.291966">
          <system-out>&#13;
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="Tests\Unit\SpokenLanguageTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\SpokenLanguageTest.php" tests="4" assertions="6" errors="0" warnings="0" failures="0" skipped="0" time="1.399314">
        <testcase name="add_user_one_lang_ok" class="Tests\Unit\SpokenLanguageTest" classname="Tests.Unit.SpokenLanguageTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\SpokenLanguageTest.php" line="17" assertions="1" time="0.394498">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="add_user_with_two_lang_ok" class="Tests\Unit\SpokenLanguageTest" classname="Tests.Unit.SpokenLanguageTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\SpokenLanguageTest.php" line="39" assertions="2" time="0.292433">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="add_two_users_with_same_lang" class="Tests\Unit\SpokenLanguageTest" classname="Tests.Unit.SpokenLanguageTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\SpokenLanguageTest.php" line="70" assertions="2" time="0.324793">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="add_user_with_two_same_lang" class="Tests\Unit\SpokenLanguageTest" classname="Tests.Unit.SpokenLanguageTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\SpokenLanguageTest.php" line="107" assertions="1" time="0.387590">
          <system-out>&#13;
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="Tests\Unit\UserTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\UserTest.php" tests="3" assertions="3" errors="0" warnings="0" failures="0" skipped="0" time="1.023283">
        <testcase name="add_user_ok" class="Tests\Unit\UserTest" classname="Tests.Unit.UserTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\UserTest.php" line="15" assertions="1" time="0.377138">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="add_user_email_already_used" class="Tests\Unit\UserTest" classname="Tests.Unit.UserTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\UserTest.php" line="31" assertions="1" time="0.407760">
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="add_user_name_too_short" class="Tests\Unit\UserTest" classname="Tests.Unit.UserTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\UserTest.php" line="48" assertions="1" time="0.238385">
          <system-out>&#13;
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="Tests\Unit\VoteTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\VoteTest.php" tests="2" assertions="0" errors="2" warnings="0" failures="0" skipped="0" time="0.636520">
        <testcase name="testVoteInsert" class="Tests\Unit\VoteTest" classname="Tests.Unit.VoteTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\VoteTest.php" line="15" assertions="0" time="0.351882">
          <error type="Illuminate\Database\QueryException">Tests\Unit\VoteTest::testVoteInsert
Illuminate\Database\QueryException: SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`laravel`.`votes`, CONSTRAINT `votes_card_id_foreign` FOREIGN KEY (`card_id`) REFERENCES `cards` (`id`)) (SQL: insert into `votes` (`user_id`, `card_id`) values (1, 7))

C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:665
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:625
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:460
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:412
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Processors\Processor.php:32
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php:2670
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Builder.php:1350
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:839
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:804
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:667
C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\VoteTest.php:20
</error>
          <system-out>&#13;
</system-out>
        </testcase>
        <testcase name="testVoteDelete" class="Tests\Unit\VoteTest" classname="Tests.Unit.VoteTest" file="C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\VoteTest.php" line="27" assertions="0" time="0.284638">
          <error type="Illuminate\Database\QueryException">Tests\Unit\VoteTest::testVoteDelete
Illuminate\Database\QueryException: SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`laravel`.`votes`, CONSTRAINT `votes_card_id_foreign` FOREIGN KEY (`card_id`) REFERENCES `cards` (`id`)) (SQL: insert into `votes` (`user_id`, `card_id`) values (2, 8))

C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:665
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:625
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:460
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Connection.php:412
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Processors\Processor.php:32
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Query\Builder.php:2670
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Builder.php:1350
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:839
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:804
C:\Users\g45022\Documents\SonarGMI\gmi\vendor\laravel\framework\src\Illuminate\Database\Eloquent\Model.php:667
C:\Users\g45022\Documents\SonarGMI\gmi\tests\Unit\VoteTest.php:31
</error>
          <system-out>&#13;
</system-out>
        </testcase>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
