/*
 This file is the default stylesheet for the cards.
 Can easily be swapped out by changing link in blade file
 (resources/views/card.blade.php).
 It allows for multiple color-themes without needing to change the whole css.
*/

/*
 Css variables are put in the root element.
*/
:root {
	--card_body:			#F2D85A;
	--card_header:			#FFCA00;
	--card_text_dark:		#262626;
	--card_text_darkest:	#111111;
	--card_text_lighter:	#353535;
}

.cardHeader {
	background-color: var(--card_header);
}

.cardBody {
	background-color: var(--card_body);
}

select,
select::placeholder,
select>option,
select>option:focus,
select>option:active {
	color: var(--card_text_lighter);
	background-color: inherit;
}

.heading,
.heading::placeholder {
	color: var(--card_text_darkest);
}

.phonetic,
.phonetic::placeholder {
	color: var(--card_text_lighter);
}

.cardBody>input[type="text"],
.cardBody>textarea,
.cardBody>input[type="text"]::placeholder,
.cardBody>textarea::placeholder {
	color: var(--card_text_dark);
}

/*
 Input field in the card are darkened when focused
 since outline is disabled.
 (Because the default outline is ugly)
*/
.card input[type="text"]:focus,
.card textarea:focus,
.card input[type="text"]:not(:disabled),
.card textarea:not(:disabled),
.card select:not(:disabled) {
	background-color: #66666630;
}
